@import url('https://fonts.cdnfonts.com/css/miama');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/*shared styles*/
body{
    margin: 57px 150px 10px 150px;
}
.btn-primary{
    background-color:#E6533C ;
    border-radius: 46px;
    border-color: ;
    font-size: 18px;
    font-weight:600;
    padding:8px 20px;
    color: white;
}
.common-color{
    color: white;
}
.bg-color{
    background-color: black;
}
.header-banner{
    background-image: linear-gradient(to center rgba(17, 17, 17, 1),rgba(119, 119, 119, 0));

}
.common-size{
    font-size: .75rem;
}

/*nav styles*/
nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
   height: 56px;
   
}
nav ul{
    display: flex;
    background-color:black ;
    border-radius: 46px;
    align-items: center;

    
}
nav ul li{
    list-style: none;
    margin-right: 47px;   
}
nav ul li a{
    text-decoration: none;
    padding: 12px;
}
.fitness-text{
    font-size: 36px;
    font-weight: 800;
    color: #E6533C;
    font-style: italic;
}
.btn-nav{
   
    max-width: 464px;
    max-height: 46px;
    list-style: none;
}
    
.btn-home{
    width: 92px;
    height: 38px;
}
/*banner related styles*/
.shape{
    font-family: 'Miama', sans-serif; 
    font-size: 4.75rem;                                            
}
.banner-container{
    display: flex;
    gap: 150px;
}   
.banner-title{
    font-size: 78px;
}
.btn-banner-1{
    border-color: none;
    font-weight:400;
}
.btn-banner-2{
    background-color:black ;
    border-radius: 46px;
    border-color: white ;
    font-size: 1.125rem;
    font-weight:400;
    padding:8px 20px;
    color: white;

}
.btn-banner-3{
    height: 96px;
    width: 206px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-left:-100px ;
    margin-bottom: -400px;
    margin-top: -130px;
    border: 7px;
    border-color: black;

}
.btn-banner-4{
    height: 96px;
    width: 206px;
    margin-left:250px;
    
    
}
.btn-icon{
    
    font-size:48px;color:rgba(230, 83, 60, 1);
}
.btn-bg{
    border-radius: 12px;
   background-color: rgba(48, 48, 48, 60%);
}
.btn-text-title{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
   line-height: 1px;
}

.btn-text-title-2{
        font-size: 2.5rem;
        font-weight: 500;
        color: white;
}
.btn-text{
    color: white;
    line-height: 5px;
}

/*habit change*/
.change-habit-title{
    font-size: 3rem;
    text-align: center;
}
.change-habit-content{
    text-align: center;
}

.habit-change-content{
    display: flex;
   
    grid-template-columns: repeat(4,1fr);
    list-style: none;
}
.habit-img{
    border-radius: 50%;
    align-items: center;
}
.habit-change-title{
    text-align: center;
    font-size: 1.125rem;
}
.habit-change-text{
    text-align: center;
    font-size: .875rem;
}
/* run extra*/
.run {
    display: flex;
    list-style: none;

}
.run-title{
    font-size: 3rem;
    font-weight: 800;

}
.run-text{
    font-size: .875rem;

}
.run-img{
    width: 366px;
    height: 312px;
    object-position:top center;
    object-fit: none;
    border: 5px solid red;
    border-radius: 12px;
    float: right;

}
/*trainings*/
.train-title{
    font-size: 3rem;
    font-weight: 700;
}
.train-text{
    font-size: .875rem;

}
.trainings{
   
}
.trainer-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1060px;
}
.trainer-img-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1060px;
}
#exe1{
    max-width: 300px;
    max-height: 200px;
    gap:0px;
    
}
#exe2{
    max-width: 700px;
    max-height: 200px;

}
#exe3{
    max-width: 327px;
    max-height: 270px;
    padding: 0px;
    
}
#exe4{
   max-width: 410px;
   max-height: 200px;
   
}
#exe5{
    max-width: 340px;
    max-height: 200px;
}
#exe6{
    max-width: 380px;
    max-height: 200px;
}
.exe-1-text{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    width: 92%;
    height:100%;
    background-color:rgba(6, 255, 210, 0.5);
    display: flex;
    /* justify-content :left;
    align-items: bottom; */
    color: black;
}
.exe-2-text{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    /* width: 92%;
    height:100%; */
    background-color: rgba(255, 0, 0, 0.3);
    display: flex;
    /* justify-content :left;
    align-items: bottom; */
    color: black;
    
}

/* calculator */
.calculator{

}
.calculator-title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 3px;
    
}
.calculator-text{
    font-size: .875rem;
}
.calculator-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style: none;
    background-color: rgba(34, 34, 34, 1);
    padding: 52px 189px 52px 189px;
}
.table-title{
    font-size: 1.75rem;

}
.cal-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
  }
.cal-form-title{
    font-size:1.75rem ; 
    
}
.cal-form-text{
    font-size: .75rem;
}
.calculator-text-container{
    margin:88px 250px 88px 250px;
}
/* team */
.team{
    max-width: 1060px;
}
.team-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 100%;
    
    border: 5px solid red;
    background-color: #E6533C;
}
.trainer-img{
    position: relative;
    border-radius: 18px;
    max-width:326px ;
    max-height: 272px;
}
.meet-our-team{
    font-size:3rem ;
    text-align: center;
    line-height: 1px;
}
.meet-text{
    text-align: center;
    font-size: .875rem;
}

/* footer */
.fitness-container{
    padding-left: 5px;

}

footer{
    background-color: rgba(255, 255, 255, 0.1);

}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    list-style: none;
}

.get-text{
    text-decoration: none;
    line-height: 35px;
    font-size: 1.rem;
}  
.get-text li a{
    text-decoration: none;
    color: white;
}
.note{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding-bottom: 10px;
}